<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LixGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="LixAnimeGrabber.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <LixGrabber.Properties.Settings>
      <setting name="LAST_PATH" serializeAs="String">
        <value />
      </setting>
      <setting name="KODI_ADDRESS" serializeAs="String">
        <value />
      </setting>
      <setting name="KODI_USER" serializeAs="String">
        <value />
      </setting>
      <setting name="KODI_PASS" serializeAs="String">
        <value />
      </setting>
      <setting name="FIRST_START" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="KODI_BUFFER_SIZE" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="STO_SESSION_COOKIE" serializeAs="String">
        <value />
      </setting>
      <setting name="PARALLEL_DOWNLOADS" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CONENCTIONS_PER_DOWNLOAD" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="USE_ARIA2C_DOWNLOADER" serializeAs="String">
        <value>True</value>
      </setting>
    </LixGrabber.Properties.Settings>
    <LixAnimeGrabber.Properties.Settings>
      <setting name="LAST_URL" serializeAs="String">
        <value />
      </setting>
      <setting name="LAST_PATH" serializeAs="String">
        <value />
      </setting>
    </LixAnimeGrabber.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
